@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

@import 'foundation/components/global';

body {
  overflow-x: hidden;

  height: auto;
  padding: 0 !important;
}

section.blocky, header, footer {
  display: block;
  box-sizing: border-box;

  position: relative;
  float: left;
  clear: both;

  width: auto;
  height: auto;
}

.up {
  text-transform: uppercase;
}

//###HEADER#STYLES###
.header{
  z-index: 0;

  min-height: 100vh;
  height: auto;
  width: 100%;

  background-color: $grey;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url('../images/bg9.jpg');

  display: block;
  box-sizing: border-box;

  position: relative;
  float: left;
  clear: both;

  margin-bottom: 0em;

  .intro {
    width: 100%;
    height: auto;
    max-width: $small-breakpoint;

    position: absolute;
    left: 0;
    bottom: 0;

    padding: 0.6em 1em;
    background-color: rgba(1,1,1, 0.0);

    p {
      font-size: 22px !important;
      font-weight: 300 !important;
      letter-spacing: 0.5px;
      line-height: 130%;

      color: $white !important;
      text-shadow: 1px 1px 1px $dark;
    }
  }
}

$logo-size: 260px;

.logo {
  display: block;

  position: absolute;
  top: 72%;
  left: 50%;
  width: $logo-size;
  max-width: 90%;
  height: auto;

  margin-top: rem-calc(-$logo-size/2);
  margin-left: rem-calc(-$logo-size/2);
}

//###MENU#STYLES###
#menu {
  display: block;
  background-color: $dark;

  position: absolute;
  top: 0;
  width:100%;
  z-index: 1000;

  border-bottom: solid 4px $grey;

  //box-shadow: 0 4px 40px $white;

  padding-left: 2em;
  padding-right: 2em;
  height: auto !important;
  min-height: 1px !important;
  opacity: 1;

  nav {
    padding: 0 !important;
  }

  .name {
      transition: all 0.6s ease-out;
  }

  .menu-icon {
    z-index: 2000;
    background-color: $dark;
  }

  .name:hover {
    transform: translate(15px, 0);
  }

  h1 {
    font-size: 26px !important;
    font-weight: 400 !important;
    letter-spacing: 2px;

    display: block;
    position: relative;
    float: left;

    height: 100%;
    width: auto;
    line-height: 100px !important;
    padding-left: 2em;
  }

  h3 {
    margin-top: .43em;
    margin-left: .5em;
  }
}

@media(max-width: $small-breakpoint){
  #menu h1 {
    font-size: 19px !important;
  }
}

#logo {
  background-color: $dark;

  position: relative;
  float: left;
  margin-top: 5px;
  height: 90px;
  width: auto;

  z-index: 999;
  opacity: 0.7;
}

#logotype {
  background-color: $dark;

  position: relative;
  float: left;
  margin-top: 28px;
  margin-left: 35px;
  height: 54px;
  width: auto;

  z-index: 999;
  opacity: 0.7;
}

.fixed {
  border-bottom: solid 4px $grey;
  padding-left: 2em !important;
  padding-right: 2em !important;
}

//###CONTENT#STYLES###
.content{
  display: block;
  box-sizing: border-box;
  overflow: visible;
  margin-bottom: $footer-height !important;

  background-color: $white;

  min-height: 900px;

  z-index: 500;
  box-shadow: 0 0 20px $black;

  h1 {
    margin: 1.2em;
    color: $dark;
  }

  h2, h3, h4, h5, h6, p, a {
    color: $white;
    margin: 0.5 em 0 1em 0;

    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    float: left;
    clear: both;
  }

   p {
     padding: 2em;
     text-align: left;
     letter-spacing: 2px;
     font-weight: normal;
   }
}

@media(max-width: $small-breakpoint) {
   .content p{
     font-size: 1em;
   }
}

$point-height: 440px;

.point {
  box-sizing: border-box;
  width: 100%;
  height: $point-height;

  //border-bottom: solid 3px $grey;
  border-radius: 12px;

  background-color: $gainsboro;
  background-image: url("../images/mountains2.jpg");
  background-position: center;
  background-size: cover;

  overflow: hidden;
  margin-bottom: 3.2em;

  padding: 0;

  //#HOVER#TRANSITIONS#
  transition: all 0.52s ease-in-out;

  .description {
    display: block;
    position: relative;

    margin-top: rem-calc($point-height - 60);

    width: 100%;
    height: auto;
    min-height: $point-height;
    background-color: $oil;

    opacity: 0.75;

    padding-top: .6em;

    -webkit-transition: .6s ease-in-out;
    -webkit-transition-delay: 0.04s;
    -o-transition: .6s ease-in-out;
    -o-transition-delay: 0.04s;
    -moz-transition: .6s ease-in-out;
    -moz-transition-delay: 0.04s;
    transition: .6s ease-in-out;
    transition-delay: 0.04s;
  }

  .name {
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 1;
  }

  &:hover {
    -webkit-transition: .6s ease-in-out;
    -webkit-transition-delay: 0.04s;
    -o-transition: .6s ease-in-out;
    -o-transition-delay: 0.04s;
    -moz-transition: .6s ease-in-out;
    -moz-transition-delay: 0.04s;
    transition: .6s ease-in-out;
    transition-delay: 0.04s;

    .description {
      -webkit-transition: .6s ease-in-out;
      -webkit-transition-delay: 0.1s;
      -o-transition: .6s ease-in-out;
      -o-transition-delay: 0.1s;
      -moz-transition: .6s ease-in-out;
      -moz-transition-delay: 0.1s;
      transition: .6s ease-in-out;
      transition-delay: 0.1s;

      margin-top: 0;
    }
  }
}

#item1 {
  background-image : url("../images/textile.jpg") !important;
}
#item2 {
  background-image : url("../images/shtoru.jpg") !important;
}
#item3 {
  background-image : url("../images/tkani.jpg") !important;
}
#item4 {
  background-image : url("../images/karniz.jpg") !important;
}
#item5 {
  background-image : url("../images/sunprotection.jpg") !important;
}
#item6 {
  background-image : url("../images/misc.jpg") !important;
}

//###PORTFOLIO###
$slider-height: 540px;

.portfolio {
  display: block;
  box-sizing: border-box;
  overflow: visible;
  margin-bottom: $footer-height !important;

  background-color: $white;

  min-height: 900px;

  z-index: 500;
  box-shadow: 0 0 20px $black;


  h1 {
    color: $grey;
    margin: 1.2em;
  }

  h2 {
    color: $grey;
    margin: 1em 5%;
  }


  .slider {
    display: block;
    box-sizing: border-box;
    width: 90%;
    height: $slider-height;
    margin: 1em auto;

    max-width: 1280px;

    background-color: $iron;
    border-radius: 12px;

    overflow: hidden;

    ul {
      height: $slider-height !important;
    }
  }
}

//###FOOTER###

#spacer {
  height: $footer-height;
  background-color: $dark;

  z-index: -2000;
}

#footer {
  width: 100%;
  height: $footer-height;

  position: fixed !important;
  left: 0;
  bottom: 0;
  right: 0;

  z-index: -1;

  padding-top: 1.7em;
  text-align: center;

  background-color: $tuatara;
  background-image: url("../images/bg_pattern.jpg");
  background-size: 320px 240px;
  background-repeat: repeat;

  .map {
    list-style: none;
    text-align: left;

    li {
      text-align: left;
    }

    a {
      text-decoration: none;
      color: $aluminum;

      text-align: left;
    }
  }
}
